<div class="main">
    <div class="container">
      <div class="inner">
          <div class="leave">
            <%= link_to "退会する", user_path(@user.id), method: :delete,class: 'btn',"data-confirm" => "本当に退会しますか？"%>
          </div>
      </div>
    </div>
  </div>
