// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//共通

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

li {
    list-style: none;
  }

a {
    text-decoration: none;
    color: #2d3133;

   }

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

body {
    //font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-family: 'M PLUS 1p', sans-serif;
    // background-color:  #ffdb4f;
    background-color:  #ffdb4f;

  }

//about
.about-box{
  background-color: red;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  margin: 20px auto;
  background-color: #FFF;
  border-radius: 50px;

}

.about-box-text{
  // height: 100px;
  // background-color: blue;
}

.about-box-icon{
  // background-color: green;
}



//ヘッダー
.navbar {
    height: 46px;
    top: 0;
    left: 0;
    right: 0;
    background-color:  #ffdb4f;
    border-bottom: 1px solid #f4f4f4;
  }

.navbar_container {
    width: 728px;
    line-height: 46px;
    margin: 0 auto;
  }

.navbar-title {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
  }

//共通
.main {
    display: block;
    position: relative;
    background-color: #ffdb4f;
  }

.container {
    max-width: 728px;
    margin: 0 auto;
    background-color:#ffdb4f;
  }

.inner {
    padding: 40px 0px;
    border-radius: 10px;
    //background-color:red;
  }
.rank-box li{
  margin-top: 10px;
  float: left;
  text-align: center;
  width: 200px;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  text-decoration: none;
  transition: .4s;
  color: white;
}

.rank-text a{
  color: white;
}

.root-btn{
  background-color: black;
  margin-left: 40px;
}

.roulette-btn{
  background-color: blue;
  margin-left: 40px;
}

.eat-btn{
  background-color: orange;
  margin-right: 40px;
  margin-left: 20px;
}

.favorite-btn{
  background-color: red;
  margin-left: 40px;
}
.bookmark-btn{
  background-color: green;
  margin-right: 40px;
  margin-left: 20px;
}

  @media screen and (max-width:768px) {
    body{
      width: 100%;
      padding: 0 5%;
    }

    .navbar_container{
      width: 100%;
    }

    .rank-box{
      text-align: center;
    }
    .rank-box li{
      float: none;
    }
    .root-btn{
      margin-left: 0px;
    }
    .roulette-btn{
      margin-left: 0px;
    }
    .eat-btn{
      margin-right: 0px;
      margin-left: 0px;
    }
    .favorite-btn{
      margin-left: 0px;
    }
    .bookmark-btn{
      margin-right: 0px;
      margin-left: 0px;
    }

    .about-box{
      width: 100%;
    }
    .about-box-text p{
      font-size: 10px;
    }



}
